.splash-section {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 70px 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: $screen-md) {
    min-height: 100vh;
    height: auto;
    padding: 140px 50px 50px;
    background-image: url('../images/dist/scene.png');
  }

  @media (max-width: $screen-xxs) {
    padding: 140px 20px 50px;
  }

  &__content {
    flex-basis: 395px;
    max-width: 395px;

    @media (max-width: 1366px) {
      flex-basis: unset;
      max-width: 700px;
      margin-bottom: 50px;
    }

    @media (max-width: $screen-md) {
      margin-bottom: 0;
    }

    .title {
      letter-spacing: -2.4px;
      margin-bottom: 27px;
    }

    p {
      letter-spacing: .5px;
      max-width: 220px;
      margin-bottom: 40px;
    }
  }
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;

  @media (max-width: $screen-md) {
    display: none;
  }

  .video-foreground, iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .video-foreground {
    @media (min-aspect-ratio: 16/9) {
      height: 300%;
      top: -100%;
    }

    @media (max-aspect-ratio: 16/9) {
      width: 300%;
      left: -100%;
    }
  }
}