// Products slider
.slide-section {
  &.slide {
    .products-slider {
      .products-slider-next {
        right: 30px;
        left: auto;

        @media (max-width: 1600px) {
          right: 0;
        }
      }
    }
  }
}
.products-slider {
  height: 50vh;
  min-height: 330px;
  position: relative;

  @media (max-width: 1600px) {
    height: 400px;
  }

  .swiper-wrapper {
    .swiper-slide {
      .product-card {
        position: relative;
        height: 100%;
        cursor: grab;

        &:active {
          cursor: grabbing;
        }

        &--blue {
          .product-card__details {
            background: $blue;

            &__btn {
              .btn {
                &:hover {
                  color: $blue;
                }
              }
            }
          }
        }

        &--pink {
          .product-card__details {
            background: $pink;

            &__btn {
              .btn {
                &:hover {
                  color: $pink;
                }
              }
            }
          }
        }

        &--violet {
          .product-card__details {
            background: $violet;

            &__btn {
              .btn {
                &:hover {
                  color: $violet;
                }
              }
            }
          }
        }

        &--orange {
          .product-card__details {
            background: $orange;

            &__btn {
              .btn {
                &:hover {
                  color: $orange;
                }
              }
            }
          }
        }

        &--yellow {
          .product-card__details {
            background: $yellow;
            color: $black;

            &__btn {
              .btn {
                @extend .btn--dark;

                &:hover {
                  color: $yellow;
                }
              }
            }
          }
        }

        &--lightblue {
          .product-card__details {
            background: $lightblue;

            &__btn {
              .btn {
                &:hover {
                  color: $lightblue;
                }
              }
            }
          }
        }

        &:hover {
          .product-card__details {
            opacity: 1;
            visibility: visible;

            .title,
            &__text,
            &__btn {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        &__icon {
          position: absolute;
          top: 30px;
          right: 30px;
          color: $primary;
        }

        &__preview {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        &__logo {
          height: 90px;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        &__preview-title {
          position: absolute;
          bottom: 70px;
          left: 0;
          width: 100%;
          text-align: center;
        }

        &__details {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 50px 70px;
          z-index: 10;
          opacity: 0;
          visibility: hidden;
          @include transition(.3s, all);

          @media (max-width: 1600px) {
            padding: 50px;
          }

          .title {
            display: block;
            text-transform: uppercase;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s .3s, all);
          }

          &__text {
            min-height: 120px;
            margin: 30px 0;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s .1s, all);

            @media (max-width: 1600px) {
              margin: 30px 0 50px;
            }
          }

          &__btn {
            text-align: center;
            opacity: 0;
            visibility: hidden;
            @include transition(.3s .2s, all);
          }
        }
      }
    }
  }

  .products-slider-prev,
  .products-slider-next {
    @include center(vertical);
    z-index: 10;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;

    &:hover {
      svg {
        path {
          fill: $primary;
        }
      }
    }

    svg {
      path {
        fill: $white;
        @include transition(.2s, fill);
      }
    }
  }

  .products-slider-prev {
    left: 30px;

    @media (max-width: 1600px) {
      left: 0;
    }
  }

  .products-slider-next {
    right: auto;
    left: calc(25% - 80px);
    @include transition(.2s, left);

    @media (max-width: 1600px) {
      left: calc(25% - 50px);
    }

    @media (max-width: $screen-md) {
      left: auto;
      right: 0;
    }
  }
}

// Team slider
.team-slider-photos {
  @media (max-width: $screen-sm) {
    margin: 0 -50px;
  }

  @media (max-width: $screen-xxs) {
    margin: 0 -20px;
  }

  &__photo {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: 591px;

    @media (max-width: $screen-md) {
      min-height: unset;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      @include img-cover(top center);
    }
  }
}

.team-slider-info {
  margin-top: -40px;

  &__details {
    opacity: .39;
    min-height: 330px;
    position: relative;
    cursor: grab;
    @include transition(.3s, opacity);

    @media (max-width: $screen-md) {
      min-height: unset;
      padding-bottom: 50px;
    }

    &:active {
      cursor: grabbing;
    }
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background: linear-gradient(90deg, $primary 0%, $black 100%);
      opacity: 0;
      visibility: hidden;
      @include transition(.3s, opacity)
    }

    &.slick-center {
      opacity: 1;

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__name {
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    min-height: 36px;
    margin-bottom: 40px;

    @media (max-width: $screen-md) {
      padding-right: 130px;
    }
  }

  &__desc {
    letter-spacing: -0.5px;
    padding-right: 30px;
  }
}

.slick-arrow-prev,
.slick-arrow-next {
  position: absolute;
  top: 190px;

  @media (max-width: $screen-lg) {
    top: 50%;
  }

  @media (max-width: $screen-md) {
    top: auto;
    bottom: 0;
    z-index: 1;
  }
}

.slick-arrow-prev {
  left: -100px;

  @media (max-width: $screen-lg) {
    left: 7px;
  }

  @media (max-width: $screen-md) {
    left: auto;
    right: 115px;
  }

  @media (max-width: $screen-xxs) {
    right: 90px;
  }
}

.slick-arrow-next {
  right: -100px;

  @media (max-width: $screen-lg) {
    right: 7px;
  }

  @media (max-width: $screen-md) {
    right: 50px;
  }

  @media (max-width: $screen-xxs) {
    right: 20px;
  }
}

// Testimonials slider
.testimonials-slider {
  position: relative;
  z-index: 10;
  margin-left: -1px;
  overflow: hidden;
}

.testimonial-slide {
  background: $dark;
  padding: 60px;
  display: flex;
  min-height: 300px;
  cursor: grab;
  
  &:active {
    cursor: grabbing;
  }

  @media (max-width: $screen-md) {
    display: block;
    padding: 60px 50px;
  }

  @media (max-width: $screen-xxs) {
    padding: 40px 20px;
  }

  &__photo {
    width: 140px;
    margin-right: 80px;

    @media (max-width: $screen-md) {
      width: 100%;
      text-align: center;
      margin: 0 auto 60px auto;
    }

    img {
      max-width: 100%;
    }
  }

  &__info {
    flex: 1;

    &__heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}

.testimonial-info-text {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 3.14px;
}

.testimonial-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;

  @media (max-width: $screen-md) {
    height: 550px;
  }

  .video-cover-before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    img {
      @include img-cover(top center)
    }

    .testimonial-slide__info__heading {
      position: absolute;
      top: 32px;
      left: 32px;
      right: 32px;

      @media (max-width: $screen-md) {
        flex-direction: column-reverse;
        justify-content: space-between;
        bottom: 32px;
        margin-bottom: 0;

        .testimonial-info-text {
          font-size: rems(14);
        }
      }
    }
  }

  .video-play-btn {
    @include center(both);
    z-index: 15;
    cursor: pointer;
    background: none;
    padding: 0;
    border: none;
    @include transition(.2s, transform);

    &:hover {
      transform: translate(-50%, -50%) scale(1.04);
    }
  }

  .video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.testimonial-arrows-wrapper {
  @media (max-width: $screen-md) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .testimonials-slider-prev,
    .testimonials-slider-next {
      margin: 0 4px;
    }
  }
}

.testimonials-slider-prev,
.testimonials-slider-next {
  position: absolute;
  top: 240px;
  z-index: 10;

  @media (max-width: $screen-md) {
    @include reset-position;
  }
}

.testimonials-slider-prev {
  left: -100px;

  @media (max-width: $screen-lg) {
    left: 7px;
  }
}

.testimonials-slider-next {
  right: -100px;

  @media (max-width: $screen-lg) {
    right: 7px;
  }
}

// Products video
.product-videos-slider {
  .slick-slide {
    position: relative;
    min-height: 467px;

    @media (max-width: 1600px) {
      min-height: 340px;
    }

    @media (max-width: 1366px) {
      min-height: 467px;
    }

    .img-responsive {
      width: auto !important;
      @include img-cover(center);
    }

    &:hover {
      .product-video-overlay {
        background: rgba($dark, 0);
      }
    }

    .product-video-overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 70px 70px 130px;
      background: rgba($dark, .75);
      @include transition(.2s, background);

      @media (max-width: $screen-md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 70px 50px;
      }

      &__desc {
        color: $white;
      }

      &__play {
        display: block;
        position: absolute;
        bottom: 35px;
        right: 35px;
        cursor: pointer;
      }
    }
  }
}

.products-slider-next,
.products-slider-prev {
  @include center(vertical);
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    svg {
      path {
        fill: $primary;
      }
    }
  }

  svg {
    path {
      @include transition(.2s, fill);
    }
  }
}

.products-slider-prev {
  left: 0;
}

.products-slider-next {
  right: 0;
}


// Arrow styles
.arrow-next, .arrow-prev {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
  opacity: .4;
  border: 2px solid rgba($white, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include transition(.2s, all);

  svg {
    transform: translateZ(0);
  }

  &:hover {
    opacity: 1;
  }
}

.arrow-next {
  &:hover {
    svg {
      animation: wobble-right .7s ease-in-out 1;
    }
  }
}

.arrow-prev {
  &:hover {
    svg {
      animation: wobble-left .7s ease-in-out 1;
    }
  }
}

.arrow-up {
  &:hover {
    svg {
      animation: wobble-top .7s ease-in-out 1;
    }
  }
}

.arrow-plus {
  &:hover {
    svg {
      animation: none;
      transform: scale(1.05);
    }
  }
}

@keyframes wobble-top {
  20% {
    transform: translateY(2px);
  }

  40% {
    transform: translateY(-2px);
  }

  60% {
    transform: translateY(1px);
  }

  80% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes wobble-right {
  20% {
    transform: translateX(2px);
  }

  40% {
    transform: translateX(-2px);
  }

  60% {
    transform: translateX(1px);
  }

  80% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes wobble-left {
  20% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(2px);
  }

  60% {
    transform: translateX(-1px);
  }

  80% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}