// Import section
@import '../../../node_modules/bootstrap/scss/bootstrap-reboot'; // Bootstrap Reboot collection
//@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';
@import "../../libs/selectric/selectric";
@import "../../libs/slick/slick";
@import '../../../node_modules/swiper/css/swiper.min';

// General document styles
input, textarea {
  outline: none;
}

body {
  background: $black;
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $textcolor;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

main {
  background: $black;
  position: relative;
  z-index: 1;
}

.wrapper {
  max-width: 1003px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

.relative {
  position: relative;
}

.custom-row {
  display: flex;

  &.d-block-lg {
    @media (max-width: $screen-md) {
      display: block;
    }
  }

  &__col {
    width: 25%;

    &.w100-lg {
      @media (max-width: $screen-lg) {
        width: 100%;
      }
    }

    &.w100-md {
      @media (max-width: $screen-md) {
        width: 100%;
      }
    }

    &.hide-lg {
      @media (max-width: $screen-lg) {
        display: none;
      }
    }

    &--50per {
      width: 50%;
    }

    &--75per {
      width: 75%;
    }

    &.max-width-lg {
      @media (max-width: $screen-lg) {
        width: auto;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 75px;
      }

      @media (max-width: $screen-md) {
        padding: 0 50px;
        width: 100%;
      }
    }
  }
}

.show-mobile {
  display: none !important;

  @media (max-width: $screen-md) {
    display: flex !important;
  }
}

.hide-mobile {
  @media (max-width: $screen-md) {
    display: none !important;
  }
}

.lines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;

  @media (max-width: $screen-md) {
    display: none;
  }

  .custom-row {
    &__col {
      position: relative;

      @media (max-width: 1366px) {
        width: 33.33%;
      }

      &:last-child {
        @media (max-width: 1366px) {
          display: none;
        }

        &:after {
          display: none;
        }
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: calc(100vh + 50px);
        background: $gray-line;
      }
    }
  }
}